* {
    font-family: 'Oswald', sans-serif;
}

body {
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    font-size: 17.4px;
    line-height: 24px;
    font-weight: 400;
    color: #334;
    display:block;
}

video {
    max-width:100%;
}

header.group-intro {
    min-height: 100vh;
    overflow: hidden;
    position: relative;
    background-color: #000;
}

header.group-intro .contents {
  background-color: rgba(0,0,0,0.75);
  height: 100vh;
  width: 100vw;
  padding: 1vh 5vw;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
}

header.group-intro video.intro-bg {
    display: block;
    min-height: 100vh;
    min-width: 100vw;
    object-position: center;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

header.group-intro h1.headline {
    font-size:56px;
    color:antiquewhite;
    text-align:center;
    margin-bottom:0;
}

header.group-intro h1.subheadline {
    color: #9988aa66;
    font-weight:bold;
    font-size:23px;
    text-align: center; 
}

header.group-intro a.redirects {
    color: rgb(211, 101, 47)
}

header.group-intro a.redirects:hover {
    text-decoration:none;
}

header.group-intro div.redirectbox {
    margin-top:7vh; 
    color:white;
    font-size:23px;
}

header.group-intro img.pageLogo {
    display: block;
    max-height: 20vh;
    max-width: 50vw;
    margin-bottom: 7rem;
}

div.main-page div.top-nav {
    background: #9988aa66;
    padding:30px 30px;
}

div.main-page img.nav-img {
    max-height: 5vh;
    max-width: 6vw;
}

div.main-page div.contents {

}

div.main-page h1.sponsors {
    font-size:4em;
    text-align:center;
    margin-top:1.5vh;
    margin-bottom:3.5vh;
}

div.main-page div.sponsorsbox {
    background:#808080;
}

div.main-page div.sponsors {
    display:flex;
    justify-content:center;
}

div.main-page img.sponsors-img {
    height:auto;
    width:30vw;
    margin-right:3vw;
    margin-left:3vw;
}

.row {
    margin:auto;
}