@{
    ViewBag.Title = "Home Page";
}

<header class="group-intro">
    <video loop muted autoplay poster="" class="intro-bg">
        <source src="~/Materials/Video/slp_intro_bg.mp4"/>
    </video>
    <div class="contents">
        <a>AHHHHHHH</a>
    </div>
</header>
