@{
    ViewBag.Title = "Home Page";

    // Her defineres den path, hvor vores billeder til sponsorne kan findes
    var imagePath = Server.MapPath("~/Materials/Images/Sponsors");

    // Hvor efter det specificeres at den skal "gribe" filerne.
    var files = Directory.GetFiles(imagePath);
}
<script src="~/Scripts/LayoutScripts.js"></script>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>

<header class="group-intro">
    <video loop muted autoplay poster="" class="intro-bg">
        <source src="~/Materials/Video/among-us.mp4" />
    </video>
    <div class="contents">
        <img class="pageLogo" src="~/Materials/Images/logo1.svg" />
        <h1 class="headline">10. - 12. SEPTEMBER 2021</h1>
        <h2 class="subheadline">BESTIL BILLET FØR 1. SEPTEMBER OG FÅ EARLY BIRD RABAT</h2>
        <div class="redirectbox">
            <p><a href="#two" class="redirects">LÆS MERE</a> - <a href="~/Billing/Index" class="redirects">BESTIL BILLET</a> - <a class="redirects">OM OS</a></p>
</header>
<div class="main-page">
    <div class="justify-content-center">
        <h1 class="header">Sponsors</h1>
    </div>

    <!-- Koden for sponsor listen  -->
    <div class="sponser-box row justify-content-center">
        <!-- Her lavet en foreach løkke, som looper gemmen alle filerne -->
        <!-- Som er placeret i vores Sponsor Folder -->
        <!-- En mindre detalje ved den her funktion er at de ikke er lavet -->
        <!-- Til at genkende img filer fra andre, så det skulle ske at -->
        <!-- en fil er noget andet end en img fil vil der kunne komme en Exception-->
        @foreach (var file in files)
        {
            <div class="col-4 sponsors">
                <!-- Angiver navnet på filen i den angivet path -->
                <img class="sponsors-img" src="~/Materials/Images/Sponsors/@Path.GetFileName(file)" />
            </div>
        }
    </div>

    <section id="two">
        <div class="container">
            <div class="row">
                <h1 class="header">Ofte Stillet Spørgsmål</h1>
            </div>
            <div class="row">
                <div class="accordian">
                    <div class="accordian-item" id="question1">
                        <a class="accordian-link" href="#question1">
                            Er det muligt at få en soveplads uden at købe VIP eller ULTRA?
                            <ion-icon class="icon-add" name="add"></ion-icon>
                            <ion-icon class="icon-remove" name="remove"></ion-icon>
                        </a>
                        <div class="answer">
                            <p>
                                Det er selvfølgelig muligt at finde en soveplads uden at købe VIP eller ULTRA, men fordelen ved disse to er at man er sikker på hvor man kommer til at sove, desuden garantere vi at det er et sted hvor man kan få ro.
                            </p>
                        </div>
                    </div>

                    <div class="accordian-item" id="question2">
                        <a class="accordian-link" href="#question2">
                            Hvordan tilmelder man sig turneringerne?
                            <ion-icon class="icon-add" name="add"></ion-icon>
                            <ion-icon class="icon-remove" name="remove"></ion-icon>
                        </a>
                        <div class="answer">
                            <p>
                                Man tilmelder sig on site ved at kontakte administratorer når der bliver annonceret at man kan tilmelde sig turneringer.
                            </p>
                        </div>
                    </div>

                    <div class="accordian-item" id="question3">
                        <a class="accordian-link" href="#question3">
                            Hvorfor koster det penge at tilmelde sig turneringer?
                            <ion-icon class="icon-add" name="add"></ion-icon>
                            <ion-icon class="icon-remove" name="remove"></ion-icon>
                        </a>
                        <div class="answer">
                            <p>
                                Pengene det koster at tilmelde sig en turnering går til præmien man får for at vinde. Dvs, desto flere der tilmelder sig desto større er præmien!
                            </p>
                        </div>
                    </div>

                    <div class="accordian-item" id="question4">
                        <a class="accordian-link" href="#question4">
                            Hvorfor lave et så stort lan party, kunne i ikke bare lave et mindre og mere lokalt lan party?
                            <ion-icon class="icon-add" name="add"></ion-icon>
                            <ion-icon class="icon-remove" name="remove"></ion-icon>
                        </a>
                        <div class="answer">
                            <p>
                                Vi her hos Lan360 vil gerne at man ved vores lan har mulighed for at kunne møde og skabe nye venskaber og samtidigt øge sammenholdet i allerede eksisterende venskaber. Dette gør vi i form af events til selve lan partiet, men også i form af turneringer. Vi mener derfor at jo flere der møder op desto bedre.
                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
</div>

<script>
    $(window).scroll(function () {
        if ($(document).scrollTop() > 50) {
            $('.nav').addClass('affix');
            console.log("OK");
        } else {
            $('.nav').removeClass('affix');
        }
    });
</script>