@model LanWebsite.Models.SeatStatus
@{
    ViewBag.Title = "Booking";
    LanWebsite.Models.SeatStatus status = new LanWebsite.Models.SeatStatus();
    LanWebsite.Classes.Settings settings = new LanWebsite.Classes.Settings();
}
<link href="~/Content/BookingPage.css" rel="stylesheet" />

<div class="parent">
    <div id="holder" class="div1">
        <ul id="place">
            @{
                for (int i = 0; i < settings.rows; i++)
                {
                    for (int j = 0; j < settings.cols; j++)
                    {
                        int seatNo = (i + j * settings.rows + 1);
                        String top = "top:" + (i * settings.seatHeight) + "px;";
                        String left = "left:" + (j * settings.seatWidth) + "px";
                        String className = settings.seatCss + " " + settings.rowCssPrefix + i + " " + settings.colCssPrefix + j;
                        <li class="@className @status.GetStatus(seatNo)" style="@top @left"><a title="@seatNo"></a></li>
                    }
                }
            }
        </ul>
    </div>
    <div id="expl" class="div2">
        <ul id="seatDescription">
            <li style="background:url('../../Materials/Images/Booking/available.svg') no-repeat scroll 0 0 transparent;">Available Seat</li>
            <li style="background: url('../../Materials/Images/Booking/reserved.svg') no-repeat scroll 0 0 transparent;">Booked Seat</li>
            <li style="background: url('../../Materials/Images/Booking/selected.svg') no-repeat scroll 0 0 transparent;">Selected Seat</li>
        </ul>
    </div>
    <div id="buttons_pack" class="div3">
        <input type="button" id="btnShowNew" value="Show Selected Seats" />
        <input type="button" id="btnShow" value="Show All" />
    </div>
</div>

<script>
    /*
    var settings = {
        rows: 5,
        cols: 15,
        rowCssPrefix: 'row-',
        colCssPrefix: 'col-',
        seatWidth: 35,
        seatHeight: 35,
        seatCss: 'seat',
        selectedSeatCss: 'selectedSeat',
        selectingSeatCss: 'selectingSeat'
    };

    var init = function (reservedSeat) {
                var str = [], seatNo, className;
                for (i = 0; i < settings.rows; i++) {
                    for (j = 0; j < settings.cols; j++) {
                        seatNo = (i + j * settings.rows + 1);
                        className = settings.seatCss + ' ' + settings.rowCssPrefix + i.toString() + ' ' + settings.colCssPrefix + j.toString();
                        if ($.isArray(reservedSeat) && $.inArray(seatNo, reservedSeat) != -1) {
                            className += ' ' + settings.selectedSeatCss;
                        }
                        str.push('<li class="' + className + '"' +
                                  'style="top:' + (i * settings.seatHeight).toString() + 'px;left:' + (j * settings.seatWidth).toString() + 'px">' +
                                  '<a title="' + seatNo + '"></a>' +
                                  '</li>');
                    }
                }
                $('#place').html(str.join(''));
            };
            //case I: Show from starting
            //init();

            //Case II: If already booked
            var bookedSeats = [5, 10, 25];
            init(bookedSeats);
            */

    $('.' + settings.seatCss).click(function () {
        if ($(this).hasClass(settings.selectedSeatCss)) {
            alert('This seat is already reserved');
        }
        else {
            $(this).toggleClass(settings.selectingSeatCss);
        }
    });

    $('#btnShow').click(function () {
        var str = [];
        $.each($('#place li.' + settings.selectedSeatCss + ' a, #place li.' + settings.selectingSeatCss + ' a'), function (index, value) {
            str.push($(this).attr('title'));
        });
        alert(str.join(','));
    })

    $('#btnShowNew').click(function () {
        var str = [], item;
        $.each($('#place li.' + settings.selectingSeatCss + ' a'), function (index, value) {
            item = $(this).attr('title');
            str.push(item);
        });
        alert(str.join(','));
    })


</script>