@*<link href="~/Content/BillingCSS.css" rel="stylesheet" />*@
<link href="~/Content/PricingTable.css" rel="stylesheet" />
@{
    ViewBag.Title = "Index";
}

<!--
<div class="content">
    <div class="row">
        <div class="billingcard">
            <div class="billingbox">
                <h4><b>Standard Billet</b></h4>
                <p>Standard Billeten Inkludere:</p>
                <p> • Et Bord</p>
                <p> • En Stol</p>
                <p> • En Soveplads</p>
            </div>
        </div>
        <div class="billingcard">
            <div class="billingbox">
                <h4><b>VIP Billet</b></h4>
                <p>Architect & Engineer</p>
                <button class="choose">Vælg</button>
            </div>
        </div>
        <div class="billingcard">
            <div class="billingbox">
                <h4><b>ULTRA Billet</b></h4>
                <p>Architect & Engineer</p>
            </div>
        </div>
    </div>
</div>
-->
<!--
    Syed Sahar Ali Raza
  ========================	-->
<div id="generic_price_table">
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="generic_content clearfix">
                        <div class="generic_head_price clearfix">
                            <div class="generic_head_content clearfix">

                                <div class="head_bg"></div>
                                <div class="head">
                                    <span>Standard</span>
                                </div>

                            </div>
                            <div class="generic_price_tag clearfix">
                                <span class="price">
                                    <span class="currency">149.95 </span>
                                    <span class="month">kr</span>
                                </span>
                            </div>
                        </div>
                        <div class="generic_feature_list">
                            <ul>
                                <li><span>1</span> Plads</li>
                                <li><span>100</span> Mbps Internet</li>
                                <li><span>2</span> Gratis Toast</li>
                                <li><span>1</span> Kop Kaffe</li>
                            </ul>
                        </div>
                        <div class="generic_price_btn clearfix">
                            <a class="" href="">Vælg</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="generic_content clearfix">
                        <div class="generic_head_price clearfix">
                            <div class="generic_head_content clearfix">
                                <div class="head_bg"></div>
                                <div class="head">
                                    <span>VIP</span>
                                </div>
                            </div>
                            <div class="generic_price_tag clearfix">
                                <span class="price">
                                    <span class="currency">249.95 </span>
                                    <span class="month">kr</span>
                                </span>
                            </div>
                        </div>
                        <div class="generic_feature_list">
                            <ul>
                                <li><span>1</span> Plads</li>
                                <li><span>150</span> Mbps Internet</li>
                                <li><span>5</span> Gratis Toast</li>
                                <li><span>1</span> Reseveret Soveplads</li>
                            </ul>
                        </div>
                        <div class="generic_price_btn clearfix">
                            <a class="" href="">Vælg</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="generic_content clearfix">
                        <div class="generic_head_price clearfix">
                            <div class="generic_head_content clearfix">
                                <div class="head_bg"></div>
                                <div class="head">
                                    <span>ULTRA</span>
                                </div>
                            </div>
                            <div class="generic_price_tag clearfix">
                                <span class="price">
                                    <span class="currency">349.95 </span>
                                    <span class="month">kr</span>
                                </span>
                            </div>
                        </div>
                        <div class="generic_feature_list">
                            <ul>
                                <li><span>1 XL</span> Plads</li>
                                <li><span>200</span> Mbps Internet</li>
                                <li><span>10</span> Gratis Toast</li>
                                <li><span>Fri</span> Entré til Turneringer</li>
                            </ul>
                        </div>
                        <div class="generic_price_btn clearfix">
                            <a class="" href="">Vælg</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tristique augue laoreet velit tincidunt tempor. Aliquam ultricies placerat odio, interdum tempus arcu malesuada ut. Nam dignissim pulvinar sem vitae egestas. Donec metus nisi, sagittis et ex id, pharetra tincidunt ipsum. Phasellus imperdiet dui ac ligula dignissim posuere. Morbi feugiat, augue non aliquet tempus, neque mi tempus felis, non rutrum urna velit ut nibh. Aliquam laoreet sit amet risus vel suscipit. Interdum et malesuada fames ac ante ipsum primis in faucibus. Etiam turpis dolor, auctor non congue a, efficitur a eros. Aenean porttitor, dolor ut feugiat ullamcorper, ligula lorem sodales augue, vitae ultrices risus justo sit amet ex. Mauris a vulputate tellus. Etiam sodales tristique tortor eget fringilla. Aliquam suscipit pharetra lectus, luctus mattis diam eleifend eget. Morbi vel blandit nisl.

        Vestibulum varius, orci non pellentesque venenatis, lorem mauris congue diam, sagittis ultrices leo dui in lacus. Nulla gravida eget dui sed sodales. Phasellus sollicitudin nulla eu mollis rutrum. Nunc quam lorem, ultrices vel volutpat sed, viverra non enim. Donec ullamcorper nibh scelerisque vulputate imperdiet. Proin tincidunt sem vel risus sagittis vulputate. Phasellus mattis sapien eu ornare dignissim. Suspendisse id mauris malesuada, gravida tellus eu, interdum ante. Suspendisse bibendum ligula semper nisl euismod consectetur. Praesent lacinia pulvinar mauris rhoncus maximus. Suspendisse nulla ante, laoreet eleifend magna nec, fermentum condimentum arcu. Vivamus mattis et dui quis mattis. Nam sed ipsum pulvinar neque tincidunt sollicitudin nec a justo. Interdum et malesuada fames ac ante ipsum primis in faucibus.

        Aenean faucibus eros augue, ut ultrices libero scelerisque sit amet. In hac habitasse platea dictumst. Phasellus in sagittis justo, sed sagittis arcu. Morbi sit amet faucibus tortor, in ultricies lacus. Suspendisse suscipit, nulla vitae maximus cursus, nisi urna posuere dui, non ornare augue diam vel erat. Curabitur semper enim vel elit viverra, vel posuere nunc tincidunt. Morbi ac sapien accumsan, eleifend nisl vel, volutpat lacus. Praesent aliquet volutpat commodo. Sed dapibus, urna nec tempus vehicula, nibh odio consequat arcu, eu commodo sem erat sed augue. Cras non nunc arcu. Mauris vitae odio elit. Morbi ac nibh sit amet metus congue condimentum vitae malesuada lorem.

        Aenean a lacus maximus, posuere ligula sit amet, dignissim nulla. Praesent eget libero elit. Mauris efficitur auctor ex id commodo. Quisque rhoncus neque purus, vestibulum ullamcorper tellus feugiat sit amet. Integer interdum nibh ligula, in molestie nulla cursus id. Pellentesque porttitor, leo eget viverra consequat, nibh augue malesuada purus, ac dignissim felis est vitae nisl. Duis vitae lorem malesuada, tincidunt turpis in, lacinia nunc. Proin consectetur lobortis porta. Pellentesque ut ligula sit amet nunc lobortis tincidunt non vitae turpis. Morbi suscipit, tellus et scelerisque facilisis, nisl nulla dapibus massa, sit amet scelerisque lectus lectus id nulla. Cras elit leo, sagittis id erat a, fringilla interdum diam. Nullam finibus hendrerit lorem, quis porttitor nisl molestie nec. Integer enim nulla, tincidunt quis porta in, consectetur a neque. Aenean id est in tellus cursus aliquet. Mauris at tincidunt eros, sed consectetur libero.

        Aliquam tortor quam, efficitur at turpis sed, blandit condimentum metus. Nullam finibus lorem et odio placerat tincidunt. Nulla volutpat maximus enim vitae laoreet. Mauris posuere posuere turpis, ac lobortis metus finibus posuere. Morbi dapibus turpis sapien, vel rhoncus sem condimentum sit amet. Curabitur turpis erat, gravida nec interdum vitae, ultrices ac neque. Nunc maximus vehicula libero quis elementum. Cras aliquet mi velit, quis sollicitudin metus vehicula ac. Proin eu ex non eros faucibus pulvinar et id erat. Phasellus tincidunt a arcu vel convallis. In viverra a velit eget congue. Nulla in mollis lorem. Suspendisse mollis est sed pharetra egestas. Praesent ac risus ultrices, egestas neque vel, condimentum magna.
    </p>
</div>