@*<link href="~/Content/BillingCSS.css" rel="stylesheet" />*@
<link href="~/Content/PricingTable.css" rel="stylesheet" />
@{
    ViewBag.Title = "Index";
}
<nav class="nav affix">
    <div class="container">
        <div class="logo">
            <a href="~/Home/Index">LANPARTY360</a>
        </div>
        <div id="mainListDiv" class="main_list">
            <ul class="navlinks">
                <li><a href="#">OM OS</a></li>
                <li><a href="#">BILLET</a></li>
            </ul>
        </div>
    </div>
</nav>
<!--
    Syed Sahar Ali Raza
  ========================	-->
<div id="generic_price_table">
    <section>
        <div class="container">
            <div class="row center-items">
                <h1 class="ticketTitle">Billet Typer</h1>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="generic_content clearfix">
                        <div class="generic_head_price clearfix">
                            <div class="generic_head_content clearfix">

                                <div class="head_bg"></div>
                                <div class="head">
                                    <span>Standard</span>
                                </div>

                            </div>
                            <div class="generic_price_tag clearfix">
                                <span class="price">
                                    <span class="currency">149.95 </span>
                                    <span class="month">kr</span>
                                </span>
                            </div>
                        </div>
                        <div class="generic_feature_list">
                            <ul>
                                <li><span>1</span> Plads</li>
                                <li><span>100</span> Mbps Internet</li>
                                <li><span>2</span> Gratis Toast</li>
                                <li><span>1</span> Kop Kaffe</li>
                            </ul>
                        </div>
                        <div class="generic_price_btn clearfix">
                            <a class="" href="">Vælg</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="generic_content clearfix">
                        <div class="generic_head_price clearfix">
                            <div class="generic_head_content clearfix">
                                <div class="head_bg"></div>
                                <div class="head">
                                    <span>VIP</span>
                                </div>
                            </div>
                            <div class="generic_price_tag clearfix">
                                <span class="price">
                                    <span class="currency">249.95 </span>
                                    <span class="month">kr</span>
                                </span>
                            </div>
                        </div>
                        <div class="generic_feature_list">
                            <ul>
                                <li><span>1</span> Plads</li>
                                <li><span>150</span> Mbps Internet</li>
                                <li><span>5</span> Gratis Toast</li>
                                <li><span>1</span> Reseveret Soveplads</li>
                            </ul>
                        </div>
                        <div class="generic_price_btn clearfix">
                            <a class="" href="">Vælg</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="generic_content clearfix">
                        <div class="generic_head_price clearfix">
                            <div class="generic_head_content clearfix">
                                <div class="head_bg"></div>
                                <div class="head">
                                    <span>ULTRA</span>
                                </div>
                            </div>
                            <div class="generic_price_tag clearfix">
                                <span class="price">
                                    <span class="currency">349.95 </span>
                                    <span class="month">kr</span>
                                </span>
                            </div>
                        </div>
                        <div class="generic_feature_list">
                            <ul>
                                <li><span>1 XL</span> Plads</li>
                                <li><span>200</span> Mbps Internet</li>
                                <li><span>10</span> Gratis Toast</li>
                                <li><span>Fri</span> Entré til Turneringer</li>
                            </ul>
                        </div>
                        <div class="generic_price_btn clearfix">
                            <a class="" href="~/Billing/Booking">Vælg</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="container">
        <div class="row">
            <p class="text-fill">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vel nisi nulla. Nam eu finibus eros, ut sollicitudin purus. Nullam non dolor non est 
                auctor efficitur. Maecenas vitae leo facilisis, cursus velit vitae, sagittis purus. Ut a rhoncus tortor, at sagittis sem. Mauris eleifend nibh diam, 
                vel euismod ligula aliquet ut. 
            </p>
        </div>
    </div>
</div>